@media (max-width: 390px) {}

@media (max-width: 1024px){}


@media (max-width: 768px) {
  #container {
    width: 100vw;
    height: auto;
    padding: 10px;
  }

  .tab__btn {
    font-size: 0.9rem;
    padding: 6px;
  }

  .content.show {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .content__img {
    width: 100%;
    height: auto;
  }

  .avatar {
    height: 50%;
  }

  .about__avatar {
    height: 40%;
  }

  .projects__cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .contact__form {
    width: 90%;
  }

  .form__btn {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .contacts__content input,
  .contacts__content textarea {
    font-size: 0.9rem;
  }

  .aviso {
    font-size: 2rem;
  }

  .aviso__description {
    font-size: 1.2rem;
  }

  .aviso__btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 390px) {
  .tab__btn {
    font-size: 0.8rem;
    padding: 4px;
  }

  .form__btn {
    font-size: 0.8rem;
    padding: 0.3rem;
  }

  .contacts__content input,
  .contacts__content textarea {
    font-size: 0.8rem;
  }

  .aviso {
    font-size: 1.5rem;
  }

  .aviso__description {
    font-size: 1rem;
  }

  .aviso__btn {
    font-size: 0.8rem;
  }
}