@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

:root {
  --font: "Arima", system-ui;
  --font-color: #142035;
  --one: #FF204E;
  --two: #2b446d;
  --three: #F5F5F5F5;
  --four: #c7d2fe;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--two);
  text-decoration: none;
}

body {
  background-color: var(--four);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--font-color);
}

#container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 90vw;
  height: 90vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 8px 10px 15px -3px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}